<section class="mt-12 flex items-center justify-center">
    <div *ngIf="quoteState.randomQuote.value$ | async as randomQuote; else initialQuote" class="container mx-auto">
        <app-hero-quote [content]="randomQuote.content" [author]="randomQuote.author"></app-hero-quote>
    </div>

    <ng-template #initialQuote>
        <div class="container mx-auto">
            <app-hero-quote [content]="'Welcome to Quote App'" [author]="'Random quote is loading...'"></app-hero-quote>
        </div>
    </ng-template>
</section>

<section class="mt-12 flex items-center justify-center">
    <div class="container mx-auto">
        <app-quote-searchbar (searchTermChange)="search($event)"></app-quote-searchbar>
    </div>
</section>

<section class="container mx-auto mt-12 mb-16 grid grid-cols-4 gap-8">
    <div class="col-span-2 lg:col-span-3">
        <div class="" *ngIf="quoteState.quoteSearchResponse.value$ | async as quoteSearchResponse">
            <app-quote-item
                class="mb-4"
                [quote]="quote"
                *ngFor="let quote of quoteSearchResponse.results"
            ></app-quote-item>

            <div class="flex items-baseline justify-between">
                <p class="text-sm">
                    {{ quoteSearchResponse.totalCount }} quotes found | Page {{ quoteSearchResponse.page }} /
                    {{ quoteSearchResponse.totalPages }}
                </p>

                <div class="mt-6 flex items-center gap-4">
                    <button appButton (click)="previousPage(quoteSearchResponse.page)">< Prev</button>
                    <button appButton (click)="nextPage(quoteSearchResponse.page, quoteSearchResponse.totalPages)">
                        Next >
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-2 lg:col-span-1">
        <app-author-list
            *ngIf="authorState.authorResponse.value$ | async as authorResponse"
            [authors]="authorResponse.results"
            [currentPage]="authorResponse.page"
            [totalPages]="authorResponse.totalPages"
            (authorSelect)="selectAuthor($event)"
            (pageChange)="authorPageChange($event)"
        ></app-author-list>

        <app-tag-list
            *ngIf="tagState.tags.value$ | async as tags"
            [tags]="tags"
            (tagSelect)="selectTag($event)"
            class="mt-8"
        ></app-tag-list>
    </div>
</section>
